<h1>Crawler#index</h1>
<h1><%="The price is #{@price}"=%></h1>
<h1><%="The seller is #{@seller}"=%></h1>
<h1><%="The category is #{@category}"=%></h1>
<h1><%="The imageurl is #{@img_url}"=%></h1>
<h1><%="The title is #{@title}"=%></h1>
<h1><%="The rating is #{@rating}"=%></h1>
